.html,
.body,
.div,
.span,
.applet,
.object,
.iframe,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.blockquote,
.pre,
.a,
.abbr,
.acronym,
.address,
.big,
.cite,
.code,
.del,
.dfn,
.em,
.img,
.ins,
.kbd,
.q,
.s,
.samp,
.small,
.strike,
.strong,
.sub,
.sup,
.tt,
.var,
.b,
.u,
.i,
.center,
.dl,
.dt,
.dd,
.ol,
.ul,
.li,
.fieldset,
.form,
.label,
.legend,
.table,
.caption,
.tbody,
.tfoot,
.thead,
.tr,
.th,
.td,
.article,
.aside,
.canvas,
.details,
.embed,
.figure,
.figcaption,
.footer,
.header,
.hgroup,
.menu,
.nav,
.output,
.ruby,
.section,
.summary,
.time,
.mark,
.audio,
.video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.kXYRrE .scf2a0224c0:first-of-type {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .kXYRrE .scf2a0224c0:first-of-type {
    margin-top: 50px;
  }
}

.htGDz {
  background-color: rgb(255, 255, 255);
  min-width: 270px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 60;
}

@media (min-width: 768px) {
  .htGDz {
    margin-top: 24px;
  }
}

.goAIOu {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0px, 1170px);
  padding: 0px 15px;
  margin: 0px auto !important;
}

@media (min-width: 768px) {
  .goAIOu {
    margin-top: 70px;
    padding: 0px 20px;
  }
}
@media (min-width: 1200px) {
  .goAIOu {
    padding: 0px 25px;
  }
}

.hgcbdD {
  padding: 20px 0px 0px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px 70px;
  border-bottom: 1px solid rgb(234, 234, 233);
}

@media (min-width: 768px) {
  .hgcbdD {
    padding: 20px 0px;
    gap: 20px 70px;
  }
}

.jvjgni {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-width: 270px;
  width: 100%;
}

.iXcHce {
  min-height: 18px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.hedXho {
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  letter-spacing: 0.06429em;
  line-height: 1.28571;
  text-transform: uppercase;
}

.jvjgni {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-width: 270px;
  width: 100%;
}

.toKey {
  margin-top: 8px;
}

.hsfwFk {
  position: relative;
  display: flex;
  align-items: center;
}

.fRGDeo {
  border-radius: 2px;
  height: 46px;
  padding: 8px 30px 8px 8px;
  margin: 2px 0px 1px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(234, 234, 233);
}

.bISVVv {
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  line-height: 1.6;
  white-space: pre-line;
}

.bDSJEG {
  height: 22px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 22px;
}
.eXmtXN {
  background: none;
  border: 0px;
  height: auto;
  margin: 0px;
  padding: 0px;
  width: auto;
}

.bDSJEG svg {
  width: 100%;
  height: 100%;
}
.dtjFyz {
  color: rgb(131, 49, 167);
  cursor: pointer;
}

.krUaoy {
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 40px;
}

.Ksyeh {
  display: flex;
  gap: 20px;
}

.bydNPL {
  background: none;
  border: none;
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.06688em;
  line-height: 1.25;
  text-transform: uppercase;
  color: rgb(131, 49, 167);
  padding: 0px;
}

.lmdXoa {
  height: 42px;
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.625;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 5px 8px 15px;
  margin: 0px;
  text-decoration: none;
  border: none;
  transition:
    border-color 333ms ease-in-out 0s,
    background 333ms ease-in-out 0s;
  cursor: pointer;
  position: relative;
}

.bKxAGI svg {
  width: 35px;
  display: block;
  transition: transform 0.2s ease-in-out 0s;
}

.bydNPL svg {
  flex-shrink: 0;
}
.hpPkxb {
  margin-left: 5px;
}
.fivusZ {
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
}

.kCTYtI {
  background: rgb(255, 255, 255);
  inset: 0px 0px 0px auto;
  overflow-y: scroll;
  position: fixed;
  transition: transform 250ms ease-in-out 0s;
  transform: translateY(120%);
  width: 100%;
  z-index: 200;
}

@media (min-width: 768px) {
  .kCTYtI {
    inset: 100% auto auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 5px 0px;
    display: none;
    overflow: hidden;
    position: absolute;
    transition: none 0s ease 0s;
    width: 100%;
  }
}

.eTOBkd {
  background: rgb(255, 255, 255);
  inset: 0px 0px 0px auto;
  overflow-y: scroll;
  position: fixed;
  transition: transform 250ms ease-in-out 0s;
  transform: translateY(0px);
  width: 100%;
  z-index: 200;
}

@media (min-width: 768px) {
  .eTOBkd {
    inset: 100% auto auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 5px 0px;
    display: block;
    overflow: hidden;
    position: absolute;
    transition: none 0s ease 0s;
    width: 100%;
  }
}

.cgyjAi {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 15px;
}

.kXYRrE .scf2a0224c0:last-of-type {
  margin-bottom: 90px;
}

.kXYRrE .scf2a0224c0:first-of-type {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .kXYRrE .scf2a0224c0:first-of-type {
    margin-top: 50px;
  }
}

.hgXWxs {
  padding: 0px;
}
@media (min-width: 768px) {
  .hgXWxs {
    display: none;
  }
}

.jhudz {
  margin-bottom: 15px;
}

.iLIiey {
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 0.06688em;
  line-height: 1.25;
  text-transform: uppercase;
}

.iZTrwi {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.ol,
.ul {
  list-style: none;
}

.jXNff {
  position: relative;
  width: fit-content;
}

.edXAUi {
  all: unset;
  display: block;
}

.input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: none;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.kIfFIU {
  background: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  border: 1px solid rgb(234, 234, 233);
  border-radius: 500px;
  height: 32px;
  cursor: pointer;
  padding: 0px 12px;
  transition: padding-right 0.25s ease 0s;
  white-space: nowrap;
  user-select: none;
  z-index: -1;
}

.kXYRrE .scf2a0224c0:last-of-type {
  margin-bottom: 90px;
}

@media (min-width: 992px) {
  .kXYRrE .scf2a0224c0:first-of-type {
    margin-top: 50px;
  }
}

.kXYRrE .scf2a0224c0:first-of-type {
  margin-top: 30px;
}

.eNNwxU {
  display: grid;
  position: sticky;
  bottom: 0px;
  left: 0px;
  height: 100px;
  z-index: 200;
  padding: 0px;
}

@media (min-width: 768px) {
  .eNNwxU {
    position: static;
  }
}

.kUajB {
  display: flex;
  padding: 0px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .kUajB {
    justify-content: flex-end;
    padding: 25px 30px 15px;
    gap: 75px;
  }
}

.glDRNm {
  height: 42px;
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.625;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 0px;
  text-decoration: none;
  border: none;
  transition:
    border-color 333ms ease-in-out 0s,
    background 333ms ease-in-out 0s;
  cursor: pointer;
  position: relative;
}

.iAiSEo {
  background: rgb(131, 49, 167);
  border: 2px solid rgb(131, 49, 167);
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .jCjrQu {
    display: grid;
  }
}
.jCjrQu {
  padding: 0px;
}

@media (min-width: 768px) {
  .eNNwxU {
    position: static;
  }
}
.eNNwxU {
  display: grid;
  position: sticky;
  bottom: 0px;
  left: 0px;
  height: 100px;
  z-index: 200;
  padding: 0px;
}

.goAIOu {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0px, 1170px);
  padding: 0px 15px;
  margin: 0px auto !important;
}

@media (min-width: 768px) {
  .goAIOu {
    margin-top: 70px;
    padding: 0px 20px;
  }
}
@media (min-width: 1200px) {
  .goAIOu {
    padding: 0px 25px;
  }
}

@media (min-width: 768px) {
  .kufIwQ {
    margin-top: 70px;
  }
}
.kufIwQ {
  background-color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0px, 1fr);
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-top: 0px !important;
}

.kXYRrE .scf2a0224c0:last-of-type {
  margin-bottom: 90px;
}

.bFpoOa {
  width: 100%;
}

.hlBtlU {
  background-color: rgb(247, 247, 247);
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0px, 1fr);
  margin: 0px auto !important;
}

@media (min-width: 768px) {
  .hlBtlU {
    margin-top: 70px;
  }
}

.gUHWyd {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

@media (min-width: 992px) {
  .gUHWyd {
    margin-top: 37px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 3em 2.5em;
  }
}

.jMrEHJ {
  grid-column: 1 / -1;
}

@media (min-width: 992px) {
  .jMrEHJ {
    margin-bottom: -15px;
  }
}

.jMrEHJ > div:first-child {
  margin-top: 15px;
  margin-bottom: 0px;
}

.hjqCrO {
  display: grid;
  grid-template-columns: 1fr min-content;
  border-bottom: 1px solid rgb(234, 234, 233);
  margin: 49px 0px;
  align-items: center;
  padding-bottom: 18px;
}

.bXbVfm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fHeNtE {
  max-width: 30px;
}

@media (min-width: 992px) {
  .CUOEB {
    font-size: 2rem;
    line-height: 1.375;
  }
}
.CUOEB {
  font-family: __fontSangBleuSunrise_6c91f2,
    __fontSangBleuSunrise_Fallback_6c91f2;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0px;
}

@media (min-width: 768px) {
  .eAoRlM {
    min-width: 240px;
  }
}

@media (min-width: 768px) {
  .eAoRlM {
    align-self: start;
  }
}

.eAoRlM {
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 5px 3px;
  background: rgb(255, 255, 255);
  text-align: left;
  min-width: 265px;
  width: 100%;
  padding: 20px 15px;
  border-radius: 3px;
}

.gLNeum {
  display: grid;
  gap: 10px;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "B B A A A"
    "C C C C C";
}
@media (min-width: 768px) {
  .gLNeum {
    grid-template-areas:
      "A A A A A"
      "B B B B B"
      "C C C C C";
    grid-template-rows: max-content auto max-content;
  }
}

.ehaQLC {
  grid-area: A;
}

.gDsexy {
  margin-bottom: 10px;
  display: block;
}

.eXPtRq {
  font-family: __fontSangBleuSunrise_6c91f2,
    __fontSangBleuSunrise_Fallback_6c91f2;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.75;
  margin: 0px;
}

.fjXxTZ {
  grid-area: B;
}

@media (min-width: 992px) {
  .fjXxTZ {
    align-self: end;
  }
}

.hgOSsN {
  display: flex;
}

.gsXqYT {
  grid-area: C;
  align-self: end;
}

.gqLmaH {
  margin-bottom: 10px;
}
.kXVeRX {
  color: rgb(131, 49, 167);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.iLIiey {
  font-family: __Source_Sans_3_3e7c3a, __Source_Sans_3_Fallback_3e7c3a;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 0.06688em;
  line-height: 1.25;
  text-transform: uppercase;
}

.dxXfnm {
  border-radius: 4px;
  object-fit: contain;
  width: 100% !important;
  max-height: 330px !important;
  position: relative !important;
  height: unset !important;
}

.fkCZxr {
  background-origin: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  font-size: 1px;
}
